html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Make the map take the full height and width of the page */
#map {
    height: 100%;
    width: 100%;
}

.popup-container {
    width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.popup-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-title {
    color: #333;
}

.popup-id {
    color: #888;
    font-size: 12px;
    display: block;
    margin-top: 2px;
}

.popup-add-waypoint {
    margin: 10px 0;
    padding: 8px;
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    color: #007BFF;
    font-weight: bold;
}

.popup-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.popup-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.popup-description {
    font-size: 14px;
    color: #333;
}
